.qoute {
  font-size: 2.5rem;
  color: #121212;
  background-color: antiquewhite;
  padding: 2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  width: 70%;
  margin: 9rem auto;
}
