* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-color: #3b3a3a #e0e0e0;
  scrollbar-width: thin;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}
