.nav {
  width: 100%;
  background-color: antiquewhite;
  height: 5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_header {
  font-size: 2.7rem;
  padding: 1rem;
  text-decoration: none;
  color: #121212;
}

.link_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  padding: 1rem 3rem 0 0;
}

.link_items li {
  margin-left: 1rem;
}

.link_items li::after {
  content: '';
  display: block;
  width: 0;
  height: 1.4px;
  background: #000;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

.link_items li:hover::after {
  width: 100%;
}

.link {
  text-decoration: none;
  color: #121212;
}
